* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: white;
}

.container-navbar {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 6em 0.5em 1em;
    border-bottom: solid 2px #522084;
}

.invisible-navbar{
    height: 62px;
}

.logo-navbar {
    display: flex;
    align-items: center;
}

.logo {
    border-radius: 15%;
    width: 50px;
    height: 50px;
    margin: 0em 1em 0 0;
}

.link-navbar-logo {
    color: #522084;
}

.link-navbar {
    color: black;
    text-decoration: none;
}

.nav-list :hover {
    color: #522084;
}

.nav-list ul {
    display: flex;
    list-style: none;
    gap: 2em;
    font-size: 20px;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    width: 100%;
    position: fixed;
    top: 61px;
}

@media screen and (max-width: 750px) {

    .container-navbar {
        padding: 0.5em 0.5em;
        border-bottom: solid 2px #522084;
    }

    .logo {
        height: 35px;
        width: 35px;
    }

    .logo-navbar h1 {
        font-size: 20px;
    }

    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu-icon button img {
        height: 40px;
    }

    .mobile-menu :hover {
        color: #522084;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1em;
        border-bottom: solid 1px #522094;
        background-color: rgb(236, 236, 234);
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2em;
    }

    .open {
        display: block;
    }
}